SECRET_KEY='YourDjangoSecretKey'
DEBUG=True
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=YourDBpassword
HOST=127.0.0.1
API_HOST='URLtoSimulateSendEmailResponse'
API_KEY='AuthTokenForAPI_HOST'
LOG_FILE=./email_app.log
LOG_LEVEL=INFO
CLIENT_ID=YourClientIDforOAUTHservice
CLIENT_SECRET=YourPasswordForOAUTHservice
AUTH_HOST='OAUTHurl'
AUTH_LOGIN_URL='/api/accounts/login'
JWT_SECRET=YourJWTsecretFromOAUTHserviceCHECKoauthTokens