SECRET_KEY='YourDjangoSecretKey'
DEBUG=True
POSTGRES_DB=db_name
POSTGRES_USER=db_user
POSTGRES_PASSWORD=YourDBpassword
HOST=127.0.0.1
API_HOST='https://probe.fbrq.cloud/v1/send/'
API_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3Mzg3NjgyNjUsImlzcyI6ImZhYnJpcXVlIiwibmFtZSI6Imh0dHBzOi8vdC5tZS9teXRvbmd1ZXMifQ.Z5mzGzeVyr_Pfc7tRpAfIEa5QHgAr9OEHhv7JFFzalg'
LOG_FILE=./email_app.log
LOG_LEVEL=INFO
